.todoContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.todoElement{
    width: 80%;
    margin-top: 1rem;
}

@media (min-width: 600px) {
        .inputTodo{
                display: none;
        }
} 
@media (max-width: 600px) {
        .todoElement{
           width: 100%; 
        }
}

